<div class="grid gap-4 sm:grid-cols-2">
  <.stack_item
    title="Platform & Orchestration"
    skills={["OpenShift", "Kubernetes", "KubeVirt", "OpenShift Virtualization", "Forklift/MTV", "Operators", "Helm", "Kustomize"]}
  />
  <.stack_item
    title="Enterprise Linux"
    skills={["RHEL 7/8/9", "Red Hat Satellite", "Red Hat IdM", "SELinux", "LVM", "systemd", "Podman", "Ansible"]}
  />
  <.stack_item
    title="Virtualization & Infrastructure"
    skills={["VMware vSphere 8", "Tanzu", "Microsoft Azure"]}
  />
  <.stack_item
    title="Storage & Data"
    skills={["OpenShift Data Foundation (Ceph)", "Dell PowerMax CSI", "NFS", "CDI / StorageProfiles"]}
  />
  <.stack_item
    title="Observability & Reliability"
    skills={["Prometheus", "Alertmanager", "Grafana"]}
  />
  <.stack_item
    title="Development"
    skills={["Elixir / Phoenix", "Go", "TypeScript", "JavaScript", "Node.js", "React", "Vue.js", "Bash"]}
  />
</div>
